$white: #FFFFFF;
$green: #3AB17D;
$grey-1: #F2F5F7;
$grey-2: #CDD2D5;
$blue-1: #A6C2D9;
$blue-2: rgba(56, 111, 157, 1);
$text-color-1: rgba(63, 79, 90, 1);
$text-color-2: rgba(63, 79, 90, 0.7);

$container-width: 1180px;


// Mediaquery Variables
$xlarge: $container-width;
$large: 64rem;
$medium: 50rem;
$small: 37.5rem;
$xsmall: 25rem;
