@import "../../../assets/scss/vars";
@import "../../../assets/scss/tools";

.contribution {
  margin-bottom: 30px;
  border: 1px solid $grey-2;
  border-radius: 5px;
  background: $white;

  p {
    margin: 0;
  }

  &__recap {
    padding: 20px 20px 15px 20px;

    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include breakpoint($medium) {
        flex-wrap: nowrap;
      }
    }

    &--title-edit &__title__content {
      display: none;
    }

    &--title-edit &__title__edit {
      display: block;
    }

    &--title-edit &__actions svg {
      background: $blue-2;
      * {
        stroke: $white;
      }
    }

    &__title {
      flex-basis: 75%;
      @include breakpoint($medium) {
        flex-basis: 50%;
      }

      &__title{
        cursor: pointer;
        min-height: 1.4em;
        max-height: 2.8em;
        overflow: hidden;
        transition: max-height 0.3s ease;
        position: relative;
      }

      &__content {
        position: relative;
      }

      &--open &__title__title{
        max-height: 5000px;
        transition: max-height 0.8s ease;
      }

      &__edit {
        display: none;
        textarea {
          width: 100%;
          padding: 5px;
        }
      }

      &--open &__more {
        position: static;
        padding: 5px;
      }

      &__more {
        position: absolute;
        background: rgba(255, 255, 255, 0.95);
        bottom: 1px;
        right: 1px;
        text-align: right;
        button {
          border-radius: 5px;
          color: $blue-1;
          cursor: pointer;
          background: none;
          border: none;
          padding: 2px;
          line-height: 1em;
        }
      }

      &--edit &__more {
        display: none;
      }
    }

    &__actions {
      display: none;
      flex: 1;
      border-radius: 20px;
      @include breakpoint($small) {
        flex-basis: 25%;
      }

      @include breakpoint($medium) {
        padding: 0 30px;
      }

      svg {
        cursor: pointer;
        height: 60px;
        width: 60px;
        max-width: 100%;
        padding: 15px 5px;
        border-radius: 50%;
        display: block;
        float: right;

        @include breakpoint($small) {
          height: 50px;
          width: 50px;
          border-radius: 30px;
        }

        @include breakpoint($medium) {
          float: left;
          height: 31px;
          width: 31px;
          padding: 8px 4px;
        }
      }

    }

    &__progress_bar {
      display: flex;
      align-items: center;
      align-self: flex-start;
      order: -1;
      flex-basis: 100%;
      padding-bottom: 1.4em;
      @include breakpoint($medium) {
        flex-basis: 25%;
        justify-self: flex-end;
        order: inherit;
      }

      &__bar {
        flex: 1;
        position: relative;
        margin-right: 20px;
        align-self: flex-start;
        margin-top: 0.3em;
      }

      &__range {
        width: 100%;
        background: transparent;
        z-index: 10;
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;

        height: 10px;
        top: 6px;
        @include breakpoint($medium){
          top: 3px;
        }

        //firefox
        &::-moz-range-thumb{
          background: white;
          width: 25px;
          height: 25px;
          border: 1px solid $green;
          border-radius: 50%;
          cursor: pointer;
          margin-top: 5px;

          @include breakpoint($medium){
            width: 15px;
            height: 15px;
          }
        }

        &::-moz-range-track{
          background: transparent;
        }

        //webkit
        -webkit-appearance: none;
        &::-webkit-slider-thumb{
          -webkit-appearance: none;
          background: white;
          width: 25px;
          height: 25px;
          border: 1px solid $green;
          border-radius: 50%;
          cursor: pointer;
          @include breakpoint($medium){
            width: 15px;
            height: 15px;
          }
        }

        //IE
        @include ie11-10{
          height: auto;
        }

        &::-ms-track{
          background: transparent;
          color: transparent;
          border-color: transparent;
          border-width: 10px 0;
          @include breakpoint($medium){
            border-width: 6px 0;
          }
        }

        &::-ms-fill-lower {
          background: $green;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &::-ms-fill-upper {
          background: $grey-1;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &::-ms-thumb {
          //-webkit-appearance: none;
          background: white;
          width: 25px;
          height: 25px;
          border: 1px solid $green;
          border-radius: 50%;
          cursor: pointer;
          @include breakpoint($medium){
            width: 15px;
            height: 15px;
          }
        }

      }

      &__decoration {
        @include ie11-10{
          display: none;
        }
        background: $grey-1;
        height: 8px;
        border-radius: 5px;
        position: absolute;
        top: 8px;
        width: 99%;
        @include breakpoint($medium){
          top: 4px;
        }

        &:focus {
          border: 0;
          outline: none;
        }
      }

      &__progress {
        background: $green;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      &__percentage {
        color: $green;
        flex-basis: 3em;
        text-align: right;
        min-height: 30px;
        display: flex;
        align-items: center;

        @include breakpoint($medium){
          min-height: 1em;
        }
      }
    }

    &__details {
      width: 100%;
      display: flex;
      font-size: 0.75em;
      color: $text-color-2;
      flex-direction: column;

      @include breakpoint($small){
        flex-direction: row;
      }

      &__detail {
        text-transform: capitalize;
      }

      >div{
        &:before {
          content: '•';
          padding-right: 8px;
          color: $text-color-2;
        }

        @include breakpoint($small){
          &:before{
            padding: 0 8px;
          }

          &:first-child:before{
            content: '';
            padding: 0;
          }

        }
      }


    }
  }

  &__edit {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;

    &__tabs {
      @include container;
      width: $container-width / 3 * 2;

      &__content {
        display: flex;
        border-bottom: 2px solid $grey-2;
        margin-bottom: 25px;
      }

      &__tab {
        padding: 15px 0;
        cursor: pointer;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        &--selected, &:hover {
          border-bottom: 2px solid $blue-2;
          margin-bottom: -2px;
        }

        &--selected {
          cursor: auto;
        }
      }
    }

    &__measurements {
      .form_container {
        @include container;
        width: $container-width / 3 * 2;
      }

      &__form_ctas {
        background: $grey-1;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        &__container{
          @include container;
          width: $container-width / 3 * 2;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          padding-top: 20px;

          @include breakpoint($small){
            flex-direction: row;
          }
        }

        &__advice{
          padding: 0 20px 20px 20px;
          flex: 1;

          &__error{
            color: red;
          }
        }

        &__content {
          flex: 1;
          text-align: right;
          padding: 0 20px 20px 20px;
        }

        button {
          border-radius: 0;
          background: $white;
          text-transform: uppercase;
          padding: 10px 15px;
          border: 1px solid $grey-2;
          margin-right: 10px;
          font-weight: bold;
          color: $text-color-1;
          min-width: 80px;

          &[type="submit"] {
            background: $blue-2;
            color: $white;
            border-color: $blue-2;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &--edit &__edit {
    max-height: 850px;
    transition: max-height 0.8s ease;
    @include breakpoint($small) {
      max-height: 1000px;
    }
    @include breakpoint($medium) {
      max-height: 600px;
    }
  }

  &--edit &__recap{
    border-bottom: 1px solid $grey-2;
  }

  &--edit &__recap__title span{
    cursor: auto;
  }

  &--edit &__recap__actions {
    display: block;
  }
}
