<div *ngIf="!!isValid" class="contribution" [ngClass]="{'contribution--edit': contributionEdit}">
  <form [formGroup]="form" action="#" method="post" (ngSubmit)="onSubmit()"
  [ngClass]="{'form-invalid': showFormErrors()}"
  >
    <div class="contribution__recap" [ngClass]="{'contribution__recap--title-edit': titleEdit}">
      <div class="contribution__recap__content">

        <div class="contribution__recap__title" [ngClass]="{'contribution__recap__title--open': titleOpen}">
          <div *ngIf="!!title" class="contribution__recap__title__content" [ngClass]="{'invalid': form.get('title').invalid}">
            <div class="contribution__recap__title__title" (click)="openContributionEdit()">
              {{form.get('title').value}}
            </div>
            <div
              class="contribution__recap__title__more"
            >
              <button (click)="toggleShowMoreTitle()">
                {{showMoreTitleCta}}
              </button>
            </div>
          </div>
          <div class="form_group contribution__recap__title__edit">
          <textarea formControlName="title" cols="30" rows="10" name="title">
          </textarea>
          </div>
        </div>
        <div class="contribution__recap__actions">
          <svg (click)="toggleEditTitle()" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Components/List/show" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
               transform="translate(-665.000000, -22.000000)" stroke-linecap="round" stroke-linejoin="round">
              <g id="Icons/16px/office/Edit/Enabled" transform="translate(657.000000, 14.000000)" stroke="#536F85">
                <g id="icon/pos/edit" transform="translate(8.000000, 8.000000)">
                  <g id="Group-6">
                    <g transform="translate(1.333333, 1.333333)">
                      <polygon id="Stroke-2"
                               points="8.83926667 1.81833333 1.33993333 9.321 -6.66666667e-05 13.333 4.01326667 11.9983333 11.5152667 4.49166667"></polygon>
                      <path
                        d="M8.83926667,1.818 L10.4939333,0.176 C10.7239333,-0.0586666667 11.0972667,-0.0586666667 11.3266,0.176 L13.1606,2.008 C13.3912667,2.24333333 13.3912667,2.624 13.1606,2.85933333 L11.5152667,4.49133333 L8.83926667,1.818 Z"
                        id="Stroke-4"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="contribution__recap__progress_bar">
          <div class="contribution__recap__progress_bar__bar">
            <input class="contribution__recap__progress_bar__range" type="range" formControlName="progress">
            <div class="contribution__recap__progress_bar__decoration">
              <div [ngStyle]="{'width': (form.get('progress').value) + '%'}"
                   class="contribution__recap__progress_bar__progress">
              </div>
            </div>
          </div>
          <div class="contribution__recap__progress_bar__percentage">{{form.get('progress').value}} %</div>
        </div>
      </div>
      <div class="contribution__recap__details">
        <div *ngIf="!!creationDate" class="contribution__recap__details__detail">Creation: {{creationDate}}</div>
        <div *ngIf="!!targetDate" class="contribution__recap__details__detail">Target: {{targetDate}}</div>
        <div *ngIf="status" class="contribution__recap__details__detail">{{status}}</div>
      </div>
    </div>

    <div class="contribution__edit">
      <div class="contribution__edit__tabs">
        <div class="contribution__edit__tabs__content">
          <div class="contribution__edit__tabs__tab contribution__edit__tabs__tab--selected">Measurements</div>
          <div class="contribution__edit__tabs__tab">Dialogue</div>
        </div>
      </div>
      <div class="contribution__edit__measurements">
        <div class="form_container">
          <div class="form_group">
            <label>Contributions description and measurements:</label>
            <textarea required formControlName="description" cols="30" rows="10"></textarea>
          </div>
          <div class="form_group form_group--half">
            <label>Status</label>
            <select formControlName="status">
              <option value="active">Active</option>
              <option value="disabled">Disabled</option>
              <option value="review">To be reviewed</option>
            </select>
          </div>
          <div class="form_group form_group--half">
            <label>Who can see this contribution:</label>
            <select formControlName="visibility">
              <option value="author">The Author</option>
              <option value="collaborators">The author and collaborators</option>
              <option value="all">Everybody</option>
            </select>
          </div>
          <div class="form_group form_group--half">
            <label>Target date:</label>
            <input type="text" required formControlName="targetDate">
          </div>
          <div class="form_group form_group--half">
            <label>Job position</label>
            <select formControlName="position">
              <option value="manager">Manager</option>
              <option value="writer">Writer</option>
              <option value="reviewer">Reviewer</option>
            </select>
          </div>
        </div>
        <div class="contribution__edit__measurements__form_ctas">
          <div class="contribution__edit__measurements__form_ctas__container">
            <div class="contribution__edit__measurements__form_ctas__advice">
              <span class="contribution__edit__measurements__form_ctas__advice__error" *ngIf="showFormErrors()">

                    <!--[ngStyle]="{'visibility': showFormErrors() ? 'visible' : 'hidden'}"-->
                Please, fill the required fields.
              </span>
              <span *ngIf="dataPersisted && ! showFormErrors()">

                <!--[ngStyle]="{'visibility': this.dataPersisted ? 'visible' : 'hidden'}"-->

                Your data has been saved!
              </span>
            </div>
            <div class="contribution__edit__measurements__form_ctas__content">
              <button (click)="closeContributionEdit()">Cancel</button>
              <button type="submit" value="Submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
